API_CONTAINER=go-api
WEB_CONTAINER=angular
DB_CONTAINER=postgres
PGADMIN_CONTAINER=pgadmin

API_PORT=3000
WEB_PORT=4200
PGADMIN_PORT=5050

POSTGRES_DATABASE=real_time_chat_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password